* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 0.1rem solid #e3e3e3;
  display: block;
  z-index: 1;
  background-color: white;
}

.header-wrapper {
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.header-inner {
  height: 100%;
  margin-left: 5vw;
  margin-right: 5vw;
}

.header-left {
  height: 100%;
  float: left;
}

.header-left-inner {
  position: relative;
  top: 50%;
  transform: translate(-0%, -50%);
  z-index: 1;
  background-color: transparent;
  overflow: hidden;
}

.header-left-inner h1 {
  font-size: 25px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  position: relative;
}

.header-logo {
  display: inline-block;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.header-logo img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 100px;
}

.header-right {
  height: 100%;
  float: right;
}

.header-right-inner {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translate(-0%, -50%);
  z-index: 1;
  background-color: transparent;
}
.header-right-inner-right {
  display: inline-block;
  position: relative;
  top: 50%;
  float: right;
  transform: translate(-0%, -50%);
  z-index: 1;
  background-color: transparent;
}
.header-right-inner h1,
.header-right-inner-right h1 {
  font-size: 25px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  position: relative;
}

main {
  height: auto;
  padding-top: 50px;
  background-color: #f1f1f1;
}

.countdown-wrapper {
  position: relative;
  padding-top: 50px;
  height: 500px;
  width: 100%;
  background-color: #e8308a;
}

.countdown-inner {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.countdown-text h1 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  text-align: center;
}

.countdown-timer {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 100px;
  color: white;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
}

#triangle-bottomleft {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  border-bottom: 80px solid #804f9b;
  border-right: 500px solid transparent;
}

.days {
  color: white;
  margin-right: 20px;
  margin-left: 20px;
}

.days h1 {
  color: white;
  font-size: 30px;
}

.hrs {
  color: white;
  margin-right: 20px;
  margin-left: 20px;
}

.hrs h1 {
  color: white;
  font-size: 30px;
}

.mins {
  color: white;
  margin-right: 20px;
  margin-left: 20px;
}

.mins h1 {
  color: white;
  font-size: 30px;
}

.secs {
  color: white;
  margin-right: 20px;
  margin-left: 20px;
}

.secs h1 {
  color: white;
  font-size: 30px;
}

.map-wrapper {
  height: 1000px;
  padding-top: 50px;
  position: relative;
  background-color: #804f9b;
}

.map-inner {
  height: 100%;
  width: 90%;
}

.map-text {
  height: 150px;
}

.map-text h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 80px;
  color: white;
}

#map {
  float: left;
  margin-left: 2%;
  width: 69%;
  height: 85vh;
  margin-bottom: 100px;
}

#filter-button {
  background-color: #e8308a;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid white;
}

#filter-button h1 {
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
}

#filter-button:hover {
  background-color: #f256a1;
  cursor: pointer;
}

.checkboxes {
  float: right;
  margin-left: 2%;
  width: 12%;
  height: 90vh;
  margin-bottom: 100px;
}

.checkboxe-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
  font-family: "Barlow Condensed", sans-serif;;
}

.individual-checkboxes {
  margin-bottom: 5px;
}

.individual-checkboxes input.places{
  height: 20px;
  width: 20px;
}

.individual-checkboxes label {
  font-size: 20px;
  color: white;
  font-family: "Barlow Condensed", sans-serif;;
}

.icons {
  width: 15%;
  float: left;
}

#sports-icon-container {

}

#tooltip {
  position: relative;
  width: 31.3%;
  margin: 2px;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #e8308a;
  color: #fff;
  color: white;
  font-family: gineso, Arial, Helvetica Neue, sans-serif;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -5px;
  left: 105%;
  position: absolute;
  z-index: 1;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
}

#tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #e8308a transparent transparent;
}

.triangle-wrapper {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#triangle-up {
  width: 0;
  height: 0;
  bottom: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #e8308a;
}
.directions-wrapper {
  padding-top: 50px;
  height: auto;
  background-color: #e8308a;
  text-align: center;
}

.directions-inner {
  height: 100%;
  width: 90%;
}

.directions-text {
  height: 150px;
  width: 30vw;
}

.directions-text h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 80px;
  color: white;
}

.directions-inner summary {
  border: #e3e3e3 solid 2px;
  padding: 10px;
  display: inline-block;
  background-color: #804f9b;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 100px;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
}

#directions {
  background-color: #2196f3;
  margin-bottom: 50px;
}

#control-panel {
  height: auto;
  width: 100%;
  display: inline-block;
}

#control-panel input{
  border: #e3e3e3 solid 2px;
    padding: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: #804f9b;
    font-family: "Barlow Condensed", sans-serif;
}

#stops-button {
  background-color: #804f9b !important;
  color: white !important;
}

#stops {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 25px;
  color: white;
}

#control-panel button{
  border: #e3e3e3 solid 2px;
    padding: 10px;
    display: inline-block;
    background-color: #804f9b;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: white;
    font-family: "Barlow Condensed", sans-serif;
}

.select-location-label {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 40px;
  margin-right: 10px;
  color: white;
}

.common-link {
  height: 50px;
  width: 100%;
  background-color: #f1f1f1;
}
.infowindow
{

}
.infowindow-image
{
  width: 30vw;
}
.infowindow-tooltip {
  position: relative;
  margin: 2px;
  display: inline-block;
}
.infowindow-tooltip:hover .tooltiptext {
  visibility: visible;
}

.infowindow-tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
#pac-input {
  width: 50%;
  margin-top: 11px;
  padding: 11px;
  border: none;
  border-radius: 20px;
}
#default-location {
  width: 20%;
  margin-top: 11px;
  padding: 11px;
  border: none;
  border-radius: 20px;
  margin-left: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 6px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Qatar World Cup Timer*/
.countdown-wrapper-sec {
  position: relative;
  padding-top: 50px;
  height: 500px;
  width: 100%;
  background-color: white;
}

.countdown-inner-sec {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.countdown-text-sec h1 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: #9A1032;
  font-size: 30px;
  text-align: center;
}

.countdown-timer-sec {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 100px;
  color: #9A1032;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
}

#triangle-bottomleft-sec {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  border-bottom: 80px solid #804f9b;
  border-right: 500px solid transparent;
}

.days-sec {
  color: #9A1032;
  margin-right: 20px;
  margin-left: 20px;
}

.days-sec h1 {
  color: #9A1032;
  font-size: 30px;
}

.hrs-sec {
  color: #9A1032;
  margin-right: 20px;
  margin-left: 20px;
}

.hrs-sec h1 {
  color: #9A1032;
  font-size: 30px;
}

.mins-sec {
  color: #9A1032;
  margin-right: 20px;
  margin-left: 20px;
}

.mins-sec h1 {
  color: #9A1032;
  font-size: 30px;
}

.secs-sec {
  color: #9A1032;
  margin-right: 20px;
  margin-left: 20px;
}

.secs-sec h1 {
  color: #9A1032;
  font-size: 30px;
}

footer {
  background-color: #804f9b;
  width: 100%;
  height: 5.098855359001041vh;
}

footer .footer-bottom {
  height: 5.098855359001041vh;
}

footer .footer-bottom .footer-bottom-container {
  margin-left: 15%;
  margin-right: 15%;
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

footer .footer-bottom .footer-bottom-container .footer-bottom-copyright {
  width: 33%; 
  float: left;
  top: 50%;
  transform: translate(-0%, -50%);
  position: relative;
  display: inline-block;
}

footer .footer-bottom .footer-bottom-container .footer-bottom-copyright h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  opacity: .75;
}

footer .footer-bottom .footer-bottom-container .footer-bottom-credit {
  width: 33%; 
  float: right;
  top: 50%;
  transform: translate(-0%, -50%);
  position: relative;
  display: inline-block;
}

footer .footer-bottom .footer-bottom-container .footer-bottom-credit h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-align: right;
  opacity: .75;
}

footer .footer-bottom .footer-bottom-container .footer-bottom-extra {
  width: 33%; 
  top: 50%;
  transform: translate(-0%, -50%);
  position: relative;
  display: inline-block;
}

footer .footer-bottom .footer-bottom-container .footer-bottom-extra h3 {
  text-align: center;
}

footer .footer-bottom .footer-bottom-container .footer-bottom-extra h3 a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  opacity: .75;
}
